* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-size: 16px;

  --pattern-bg-mobile-light: url(../assets/images/pattern-background-mobile-light.svg);
  --pattern-bg-mobile-dark: url(../assets/images/pattern-background-mobile-dark.svg);
  --pattern-bg-tablet-light: url(../assets/images/pattern-background-tablet-light.svg);
  --pattern-bg-tablet-dark: url(../assets/images/pattern-background-tablet-dark.svg);
  --pattern-bg-desktop-light: url(../assets/images/pattern-background-desktop-light.svg);
  --pattern-bg-desktop-dark: url(../assets/images/pattern-background-desktop-dark.svg);

  --bg-pattern: var(--pattern-bg-mobile-light);

  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-500: #626c7f;
  --color-grey-50: #f4f6fa;

  --color-blue-950: #2d3949;
  --color-blue-900: #313e51;
  --color-blue-850: #3b4d66;
  --color-blue-500: #306aff;
  --color-blue-300: #abc1e1;
  --color-blue-100: #edf1f9;
  --color-blue-50: #ebf0ff;

  --color-green-500: #2fd887;
  --color-green-100: #e0fdef;

  --color-purple-600: #a729f5;
  --color-purple-100: #f6e7ff;

  --color-orange-400: #ff7e35;
  --color-orange-50: #fff5ed;

  --color-red-500: #ee5454;

  /* icon */
  --icon-moon-dark: url(../assets/images/icon-moon-dark.svg);
  --icon-moon-light: url(../assets/images/icon-moon-light.svg);
  --icon-sun-dark: url(../assets/images/icon-sun-dark.svg);
  --icon-sun-light: url(../assets/images/icon-sun-light.svg);

  --icon-sun: var(--icon-sun-dark);
  --icon-moon: var(--icon-moon-dark);
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
button {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0;
}

body {
  min-height: 100vh;
  background-image: var(--bg-pattern);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: light-dark(var(--color-grey-50), var(--color-blue-900));
  color: light-dark(var(--color-blue-900), var(--color-white));
}

body,
h1,
h2,
p,
ul,
li {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

main {
  display: block;
}

h1,
h2 {
  font-size: 2.5rem; /* 40px */
  line-height: 100%;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 300;
}

h3 {
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  font-style: italic;
  line-height: 150%;
  color: light-dark(var(--color-grey-500), var(--color-blue-300));
}

.light {
  color-scheme: light;
  --bg-pattern: var(--pattern-bg-mobile-light);
  --icon-sun: var(--icon-sun-dark);
  --icon-moon: var(--icon-moon-dark);
}

.dark {
  color-scheme: dark;
  --bg-pattern: var(--pattern-bg-mobile-dark);
  --icon-sun: var(--icon-sun-light);
  --icon-moon: var(--icon-moon-light);
}

.container {
  padding: 0 24px 87px;
}

.container > header {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* theme toggle */
.theme-container {
  width: 80px;
  height: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon-sun,
.icon-moon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-sun {
  background-image: var(--icon-sun);
}

.icon-moon {
  background-image: var(--icon-moon);
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
  cursor: pointer;
}

#theme-checkbox {
  width: 0;
  height: 0;
}

#theme-checkbox:hover + .slider,
#theme-checkbox:focus + .slider {
  box-shadow: 0 0 0 2px light-dark(var(--color-grey-50), var(--color-blue-900)),
    0 0 0 4px var(--color-purple-600);
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  border-radius: 999px;
  padding: 4px;
  background-color: var(--color-purple-600);
}

.slider::before {
  position: absolute;
  content: "";
  border: none;
  border-radius: 999px;
  background-color: var(--color-white);
  width: 12px;
  height: 12px;
  transition: 0.3s;
}

#theme-checkbox:checked + .slider::before {
  transform: translateX(100%);
}
